/* https://type-scale.com/?size=16&scale=1.200&text=A%20Visual%20Type%20Scale&font=Roboto&fontweight=700&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false */
/*
  --- 01 TYPOGRAPHY SYSTEM
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  --- 02 COLOR
  #FFF
  #888
  #300031
  #851e87
  #ffe4ff
  #fcf5fc

  --- 05 SHADOWS

  --- 06 BORDER-RADIUS

  --- 07 WHITESPACE
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10 / 16 = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2.5rem;
  height: 90vh;
  width: 100%;
  text-align: center;
}

.container img {
  align-self: center;
  width: 55vw;
  min-width: 500;
}

.container h1 {
  font-size: 3rem;
}

.coming-soon {
  font-size: 5.2rem;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 1920px) {
  .container img {
    width: 40vw;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 40%;
  }
  .container img {
    width: 60vw;
  }
}
@media (max-width: 500px) and (orientation: portrait) {
  html {
    font-size: 35%;
  }
}
