/* https://type-scale.com/?size=16&scale=1.200&text=A%20Visual%20Type%20Scale&font=Roboto&fontweight=700&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false */
/*
  --- 01 TYPOGRAPHY SYSTEM
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  --- 02 COLOR
  #FFF
  #888
  #300031
  #851e87
  #ffe4ff
  #fcf5fc

  --- 05 SHADOWS

  --- 06 BORDER-RADIUS

  --- 07 WHITESPACE
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10 / 16 = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #888;
}

.container {
  width: 80%;
  margin: 0 auto 13rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem auto;
  align-items: center;
  column-gap: 10rem;
  row-gap: 10rem;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  grid-column: 1/3;
}

.link-button:link,
.link-button:visited {
  display: inline-block;
  background-color: #851e87;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0.1rem 0.4rem 0.1rem 0 #444;
  border: 0.3rem solid #851e87;
}

.link-button:hover,
.link-button:active {
  background-color: #fff;
  color: #851e87;
}

.nav-gymnasia:link,
.nav-gymnasia:visited {
  font-size: 3.6rem;
  font-weight: 700;
  text-decoration: none;
  color: #851e87;
  letter-spacing: -0.15rem;
}

.nav-docs:link,
.nav-docs:visited {
  margin-left: auto;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #851e87;
}

.main-header {
  max-width: 64rem;
}

.main-header h1 {
  margin-bottom: 3rem;
  color: #300031;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.15rem;
}
.main-header p {
  margin-bottom: 3.5rem;
  line-height: 1.31;
  font-size: 2rem;
  font-weight: 400;
}

.get-started:link,
.get-started:visited {
  padding: 0.8rem 5rem;
}

.sports-animation img {
  width: 100%;
  max-width: 94rem;
}

.challenge-section {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #fcf5fc;
}

.triangle-top {
  justify-self: right;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-top: 50vh solid #ffe4ff;
}

.triangle-middle {
  background-color: #fcf5fc;
}

.triangle-bottom {
  justify-self: left;
  width: 0;
  height: 0;
  border-right: 50vw solid transparent;
  border-bottom: 50vh solid #ffe4ff;
}

.next-challenge {
  position: absolute;
  min-width: 60%;
  top: 7%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
  color: #300031;
  font-size: 3rem;
  font-weight: 500;
}

.challenge {
  max-width: 42rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4.8rem;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 1rem 0 #888;
  border-radius: 1rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto;
}

.challenge h3 {
  color: #300031;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.challenge p,
.challenge-types {
  font-size: 1.6rem;
  font-weight: 400;
}

.challenge-date-text {
  color: #851e87;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 3.6rem;
}
.challenge-date-text p:first-child {
  margin-bottom: 0.2rem;
}

.challenge-created-by {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.8rem;
  margin-bottom: 2.4rem;
  align-items: center;
}

.challenge-created-by h4 {
  grid-column: 1 / -1;
  color: #300031;
  font-size: 1.8rem;
}

.challenge-creator-avatar {
  width: 50%;
  border-radius: 100%;
}

.challenge-athlete-rower-image {
  grid-column: 1/-1;
  justify-self: center;
  width: 140%;
  margin-bottom: 2.4rem;
}

.challenge-rules {
  margin-bottom: 1.2rem;
}

.challenge-types {
  margin: 0 0 1.8rem 3.2rem;
}
.challenge-disciplines {
  margin-top: 0.4rem;
  margin-left: 1.2rem;
}

.challenge-entry-fee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.challenge-fee-text {
  font-size: 1.8rem;
  padding: 0.8rem 0;
}

.challenge-fee {
  font-size: 1.8rem;
  background-color: #ffe4ff;
  padding: 0.8rem 2.4rem;
  border-radius: 1rem;
}

.register:link,
.register:visited {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.8rem 5rem;
}

.how-it-works-section {
  text-align: center;
}

.how-it-works-animation {
  margin: 10rem auto;
  width: 70vw;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0.5rem 0.5rem 1rem 0 #888;
  background-color: #fcf5fc;
}

.how-it-works-animation img {
  width: 70%;
}

.how-it-works {
  margin: 4rem 0 0 0;
  font-size: 5.2rem;
  color: #300031;
  font-weight: 500;
}

.participation-steps {
  height: 30vh;
  background-color: #ffe4ff;
  color: #300031;
  font-size: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.participation-steps img {
  width: 18rem;
  padding: 2rem;
  border: 1px solid #fff;
  background-color: white;
  border-radius: 100%;
  margin-bottom: 1.2rem;
}

.step1 {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  .main-header {
    grid-column: 1/-1;
    justify-self: center;
    text-align: center;
  }
  .sports-animation {
    justify-self: center;
    grid-column: 1/-1;
  }

  .participation-steps {
    height: 180vh;
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .nav-discover:link,
  .nav-docs:link {
    display: none;
  }
}

@media only screen and (max-width: 530px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 450px) {
  html {
    font-size: 35%;
  }
}
